.cart-button {
    border: 1px rgb(187, 248, 96) solid;
    border-radius: 4px;
    color: rgb(187, 248, 96);
    background-color: black;
    height: 3rem;
    width: 12rem;
    margin: 1rem;
    padding: 1rem;
}

.cart-button span {
    margin: 0 8px;
    font-size: 1rem;
}

.cart-button__badge {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgb(187, 248, 96);
    color: black;
    padding: 4px 1rem
}