.product-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .product-item__title {
    display: flex;
    flex-direction: column;
  }
  
  .product-item__title h1 {
      font-weight: bold;
      font-size: 2rem;
      margin: 0.5rem;
  }
  
  .product-item__title p {
      font-size: 1rem;
      margin: 4px;
  }
  
  .product-item__price button {
    border: 1px rgb(133, 219, 3) solid;
    border-radius: 4px;
    padding: 8px 12px;
    background: white;
    color: rgb(133, 219, 3);
    margin: auto 8px;
    font-size: 1rem;
  }

  .product-item__price h1 {
      border-radius: 1rem;
      border: 1px black solid;
      background-color: rgb(73, 4, 138);
      color: white;
      text-align: center;
      padding: 4px;
      margin: 0.5rem;
      margin-bottom: 3rem;
  }
  